// Edited variables
@import "variables";

// Bootstrap main file
@import "../../node_modules/bootstrap/scss/bootstrap";

.navbar-toggler > .close {
  display: inline;
}
.navbar-toggler.collapsed > .close,
.navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
  display: none;
}

.close {
  display: none;
}

.close.active {
  display: block;
}

.x::before,
.x::after {
  content: "";
  display: block;
  margin-top: -2px;
  width: 20px;
  height: 2px;
  background: #786a5d;
  border-radius: 1px;
}

.x::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.x::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cost-nav {
  background: #fffaf7;

  @include media-breakpoint-up(sm) {
    background: #686454;
  }
}

.nav-item a {
  color: #786a5d;

  @include media-breakpoint-up(sm) {
    color: #f9f7f5;
  }
}

.nav-link.active {
  font-weight: 600;

  color: #847668 !important;

  @include media-breakpoint-up(sm) {
    color: #f9f7f5 !important;
  }
}

.nav-link:hover {
  color: #f9f7f5;
}

body {
  overscroll-behavior: none;
}

main {
  height: 100%;
  background-color: #686454;
}

.navbar {
  z-index: 10;
}

.invitasjon p {
  font-style: italic;
}
.invitasjon p,
.invitasjon-strong {
  font-size: 1.2rem;
}

.header-svg {
  max-width: 450px;
  width: 90vw;
  // min-height: 50vh;
  padding: 0 2rem 2rem 2rem;
  margin-bottom: 25px;
}

.navbar-toggler {
  border: none;
  position: absolute;
  right: 0;
  top: 5px;
}

.nav-container {
  min-height: 35px;
}

p {
  color: #f9f7f5;
}

.nav-item a,
p {
  font-weight: 200;
  font-family: "Nunito Sans", sans-serif;
}

strong {
  font-weight: 600;
}

.custom-nav {
  margin-left: auto;
  margin-right: auto;
  gap: 1.5rem;
}

h1 {
  // padding-top: 150px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: #ffffff;
}

.nav-item {
  padding: 0 0.5rem;
}

p,
li {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;
  color: #ffffff;
}

.stor {
  font-size: 1.2rem;
  margin-top: 1rem;
}

p {
  font-weight: 200;
  margin: 0;
}

hr {
  height: 1px;
  opacity: 1;
  width: 100px;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
  align-self: center;
}

.line {
  border-left: 1px solid #ffffff;
  height: 450px;
  align-self: center;
}

.dot {
  height: 7px;
  width: 7px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
}

.dot1 {
  top: 27px;
  left: 11px;
}

.dot2 {
  top: 155px;
  right: 4px;
}

.dot3 {
  top: 285px;
  left: 4px;
}

.dot4 {
  top: 415px;
  right: 11px;
}

.event,
.time {
  height: 120px;
  color: #ffffff;
}
.event-l,
.time-l {
  height: 30px;
  color: #ffffff;
}

.time,
.time-l {
  font-family: "Cormorant Infant", serif;
  font-size: 1.2rem;
}

.col {
  width: 235px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}

// .navbar-collapse {
//   transition: 1.5s all ease;
// }

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.footer-logo {
  width: 70vw;
  max-width: 200px;
}

.content {
  max-width: 680px;
}

.min-h-500 {
  min-height: 650px;
}

header {
  padding-top: 50px;
  height: 90vh;
}

.next:hover {
  opacity: 0.5;
}

.next {
  display: block;
  // align-self: flex-end;
  // bottom: 0px;
  // left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #4e4138;
  font: normal 400 20px/1 "Josefin Sans";
}

.next-program {
  padding-top: 30px;
}
.next-padding {
  padding-top: 60px;
}

.next span {
  position: absolute;
  z-index: 1;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #4e4138;
  border-bottom: 3px solid #4e4138;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s;
  animation: sdb04 2s;
  -webkit-animation-animation-iteration-count: 3;
  animation-iteration-count: 3;
  box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

.next {
  display: block;
}
@media (min-width: 576px) {
  .next {
    display: none;
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #f9f7f5;
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    border-radius: 5%;
    background-color: #f9f7f5;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
